.home {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.row {
	display: flex;
	gap: 2em;
	padding-block: 1em;
}

.row + .row {
	border-top: 2px solid var(--accent-color);
}

.row:nth-child(even) {
	direction: rtl;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
